TG_BOT_TOKEN = "1111111111111111111" # bot id for send reports
TG_BOT_USER = "11111111" # for send front end errors report to tg id user

BASE_URL = "http://localhost:5000" # api url 1
NEXT_PUBLIC_BASE_URL = "http://localhost:5000" # api url 2